<!DOCTYPE html>
<html lang="en">
<head>
  <title>#1 Template Basic</title>
</head>
<body>
     <h1>Template Basic</h1>
    <p>Welcome to the blog home page!</p>

    <!-- Single variable -->
     <p>Name: {{name}}</p>
     <p>Age: {{age}}</p>

      <!-- List access -->
      <p>First Skill: {{skill.0}}</p>
      <p> Skill: {{skill}}</p>

      <!-- Obj Attribute -->
       <p>User Name: {{user.name}}</p>
       <p>User Age: {{user.age}}</p>

       <!-- Dictionary -->
        <h2>Blog Information</h2>
        <p>Title: {{blog.title}}</p>
        <p>Create At: {{blog.created_at}}</p>
        <p>Content: {{blog.content}}</p>
        <p>Content: {{blog.content|safe}}</p>
        <p>Content: {{blog.author.name}}</p>

        <!-- Default Value -->
         <p>Default Empty Value: {{empty_value|default:"No value provided"}}</p>
         <p>Default Empty Value: {{empty_value|default_if_none:"No Data"}}</p>
</body>
</html>