<!DOCTYPE html>
<html>
<head>
<title>Bulk Email</title>
<style>
    body{
      font-family: Arial;
       background-color: #f5f5f5;
    }
    .container {
       background: white;
       padding: 20px;
       mragin: 20px auto;
       width: 80%;
       border-radius: 10px;
       text-align: center;
    }
    h2{
       color: #4CAF50;
    }
</style>
</head>
<body>
  <div class="container">
     <h2>Welcome, {{ username }}</h2>
     <p>Thanks for joining <b>Alex Pandian</b>. Stay tuned for amazing content. </p>
  </div>
</body>
</html>