{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="about">
  <h2>About Me</h2>
  <p>Passionate developer with a strong foundation in full-stack development, specializing in modern web technologies. Skilled in building scalable and user-friendly applications using JavaScript frameworks, backend APIs, and databases. Experienced in problem-solving, debugging, and optimizing performance. Enthusiastic about learning new technologies, collaborating in teams, and delivering efficient, high-quality software solutions that create real-world impact.</p>
</section>

{% endblock %}